<div class="top-nav">
  <p class=> <i class="fa-solid fa-angles-left"></i> <%= link_to "Back", :back, class: "back" %></p>
</div>

<div class="edit-user-container">
  <h2>Edit <%= current_user.name.capitalize %>'s profile</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="edit-form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { class: "edit-user-input" }
                  %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  # hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password",
                                placeholder: "leave it blank if you don't want to change it",
                                class: "edit-user-input" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password", class: "edit-user-input" } %>
      <%= f.input :current_password,
                  # hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password",
                                placeholder: "Current password to confirm your changes",
                                class: "edit-user-input" } %>
    </div>

    <div class="edit-form-actions">
      <%= f.button :submit, "Update", class: "edit-user-btn" %>
    </div>
  <% end %>

  <div class="delete-user">
    <%= link_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "deleteuser-btn" %>
  </div>
</div>

<%= render 'shared/footer' %>
