<div class="explore-search mt-5">
  <form class="index-form-inline" action="/explore">
    <input class="index-search-bar" type="search" name="query" placeholder="Search cocktail?" aria-label="Search">
  </form>
</div>

<div class="search-guide">
  <% if @query.present? %>
    <p> Returning search for "<strong><%= @query %></strong>" </p>
  <% else %>
    <p> What are you looking for? </p>
  <% end %>
</div>

<h5 class="index-subtitle"> All that Cocktails ( <%= @cocktails.length %> ) </h5>
<div class="cocktails">
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail) do %>
      <div class="cocktail-card" data-aos="zoon-in" style="background-image: url('<%= cl_image_path cocktail.photo.key %>')">
        <p class="name"> <%= cocktail.name.titleize %> </p>
      </div>
    <% end%>
  <% end %>
</div>

<%= render 'shared/footer' %>
