<div class="banner vh-100" style="background-image:">
  <form class="search-container" action="/cocktails">
    <input id="searchBar" class="searchbar" name="query" type="text" placeholder="Search Cocktail!" aria-label="Search">
  </form>

  <div class="title">
    <h2 class="title-all">All</h2>
    <h2 class="title-that">that</h2>
    <h2 class="title-cocktail">Cocktail</h2>
  </div>
</div>

<div class="explore-mix">
  <h5 class="index-subtitle">New Cocktail?</h5>
  <div class="d-flex justify-content-center">
    <%= link_to new_cocktail_path, class: "explore-mix-contents" do %>
      <div class="explore-mix-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path "mix.jpeg" %>)">
        <p class="explore-mix-text">Mix<br> new<br> Cockatil</p>
      </div>
    <% end %>
  </div>
</div>

<div class="index-samples">
  <h5 class="index-subtitle"> Cocktails </h5>
  <div class="samples">
    <% @cocktails.map do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <div class="sample-card" data-aos="zoon-in" style="background-image: url('<%= cl_image_path cocktail.photo.key, crop: :fill %>')">
          <p class="name"><%= cocktail.name.titleize %></p>
        </div>
      <% end%>
    <% end %>
  </div>
</div>

<%= render 'shared/footer' %>
