<h3 class="mypage-title">Hello, <%= current_user.name %>!</h3>

<div class="mypage-subt">
  <h2>My Favorites</h2>
  <% if @favorited.empty? %>
    <p>You don't have any favorites!</p>
    <div class="mypage-exbtn"><%= link_to "Go to Explore", explore_path, mathod: :get, class: "mypage-exbtn" %></div>
  <% end %>
<div>

<div class="mypage-favlist">
  <% @favorited.each do |cocktail| %>
    <div class="mypayge-fav-cards">
      <% if user_signed_in? && !current_user.favorited?(cocktail) %>
        <div class="mypage-fav-card">
          <div class="mypage-fav-img">
            <%= cl_image_tag cocktail.photo.key, crop: :fill, class: "mypage-fav-img" %>
          </div>
          <div class="mypage-fav-contents">
            <%= link_to  cocktail_favorites_path(cocktail), class: "fav-btn", method: :post do %>
              <p class="mypage-fav-ibtn"><i class="far fa-heart"></i></p>
            <% end %>
            <%= link_to cocktail, class: "myfav-cardt" do %>
              <p class="myfav-cardt"><%= cocktail.name.titleize %></p>
              <p class="myfav-morei"><i class="fa-solid fa-arrow-up-right-from-square"></i>More information</p>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="mypage-fav-card">
          <div class="mypage-fav-img">
            <%= cl_image_tag cocktail.photo.key, crop: :fill, class: "mypage-fav-img" %>
          </div>
          <div class="mypage-fav-contents">
            <%= link_to cocktail_favorites_path(cocktail), class: "fav-btn", method: :delete do %>
              <p class="mypage-fav-ibtn"><i class="fas fa-heart" style="color: #F07030"></i></p>
            <% end %>
            <%= link_to cocktail, class: "myfav-cardt" do %>
              <p class="myfav-cardt"><%= cocktail.name.titleize %></p>
              <p class="myfav-morei"><i class="fa-solid fa-arrow-up-right-from-square"></i>More information</p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<%= render 'shared/footer' %>
