<div class="new-container">
  <div class="col-12 col-md-6 offset-lg-3">
    <div class="new-cocktail-quote">
      <h3>Let's mix a new cocktail!</h3>
    </div>
    <div class="new-cocktail-input">
      <%= simple_form_for @cocktail do |cocktail| %>
        <%= cocktail.error_notification %>
        <%= cocktail.input :name, input_html: { class: "new-cocktail-name" } %>
        <%= cocktail.input :instruction, input_html: { placeholder: "Describe your cocktail's instruction!", class: "new-cocktail-inst" } %>
        <form>
          <label for="fileUpload">Upload Photo</label>
          <input type="file" id="fileUpload">
        </form>
        <div class="newc-btn">
          <%= cocktail.button :submit, class: 'new-cocktail-btn' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
