<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Create a new cocktail!</h3>
        <%= simple_form_for @cocktail do |c| %>
          <%= c.input :name, placeholder: 'Name?' %>
          <%= c.input :instruction, placeholder: 'Note nstruction' %>
          <%= c.input :photo, as: :file %>
          <%= c.submit class: 'btn btn-secondary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
