<div class="top-nav">
  <p class=> <i class="fa-solid fa-angles-left"></i> <%= link_to "Back", :back, class: "back" %></p>
</div>

<div class="container">
  <div class="row">
    <p class="show-title"><%= @cocktail.name %></p>
    <div class="cocktail-img">
      <%= cl_image_tag @cocktail.photo.key, height: 240, width: 320, crop: :fill %>
    </div>

    <div class="detail">
      <p><i class="fa-solid fa-book-open mr-5"></i> Instruction </p>
      <p><%= @cocktail.instruction %></p>
    </div>

    <div class="detail">
      <div class="new-ingredient">
        <%= link_to "New Ingredient", new_cocktail_dose_path(@cocktail), cocktail: @cocktail, dose: @dose, class: "new-ingredient" %>
      </div>
      <table class="table table-bordered">
        <thead>
          <th>Ingredient</th>
          <th>Description</th>
          <th>Action</th>
        </thead>
        <tbody>
          <% if @cocktail.doses.empty? %>
            <tr>
              <td><p> 0 </p></td>
              <td><p> 0 </p></td>
              <td><p> <i class="fa-solid fa-check"></i> </p></td>
            </tr>
          <% else %>
            <% @cocktail.doses.each do |dose| %>
              <tr>
                <td><%= dose.ingredient.name %></td>
                <td><%= dose.description %></td>
                <td>
                  <%= link_to edit_cocktail_dose_path(dose), method: :get, class: "tablecon-e" do %>
                    <i class="fa-regular fa-pen-to-square"></i>
                  <% end %>
                  <%= link_to dose_path(dose), method: :delete, class: "tablecon-d", data: { confirm: "Are you sure?" } do %>
                    <i class="fa-regular fa-trash-can"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="detail mt-5">
      <div class="new-review">
        <%= link_to "New Review", new_cocktail_review_path(@review), cocktail: @cocktail, review: @review, class: "new-review" %>
      </div>
      <p><i class="fa-solid fa-bookmark"></i> Reviews </p>
      <% if @cocktail.reviews.empty? %>
        <p>Be the first to let a review!</p>
      <% else %>
        <ul class="list-group">
          <% @cocktail.reviews.each do |review| %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="badge badge-primary badge-pill">
                <% counter = 0 %>
                <% 5.times do %>
                  <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
                  <% counter += 1 %>
                <% end %>
              </span>
              <%= review.content %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>

  </div>
</div>

<%= render 'shared/footer' %>
