<div class="top-nav">
  <p class=> <i class="fa-solid fa-angles-left"></i> <%= link_to "Back", :back, class: "back" %></p>
</div>

<div class="container">
  <div class="row">
    <p class="show-title"><%= @cocktail.name %></p>
    <div class="cocktail-img">
      <%= cl_image_tag @cocktail.photo.key, height: 280, width: 320, crop: :fill %>
    </div>
    <% if current_user == @cocktail.user %>
      <div class="cocktail-show-delete-edit">
        <%= link_to "Delete", @cocktail_path, method: :delete, class: "cocktail-delete", data: { confirm: "Are you sure?" } %>
        <p>|</p>
        <%= link_to "Edit", @edit_cocktail_path, method: :get, class: "cocktail-edit" %>
      </div>
    <% end %>
    <div class="detail">
      <p><i class="fa-solid fa-book-open"></i> Instruction </p>
      <p><%= @cocktail.instruction %></p>

      <div class="new-ingredient">
        <%= link_to "Add Ingredient", new_cocktail_dose_path(@cocktail), cocktail: @cocktail, dose: @dose, class: "new-ingredient" %>
      </div>
      <table class="table table-bordered">
        <thead>
          <th>Ingredient</th>
          <th>Description</th>
          <th>Action</th>
        </thead>
        <tbody>
          <% if @cocktail.doses.empty? %>
            <tr>
              <td><p> 0 </p></td>
              <td><p> 0 </p></td>
              <td><p> None </p></td>
            </tr>
          <% else %>
            <% @cocktail.doses.each do |dose| %>
              <tr>
                <td><%= dose.ingredient.name %></td>
                <td><%= dose.description %></td>
                <td>
                  <%= link_to edit_cocktail_dose_path(dose), method: :get, class: "tablecon-e" do %>
                    <i class="fa-regular fa-pen-to-square"></i>
                  <% end %>
                  <%= link_to dose_path(dose), method: :delete, class: "tablecon-d", data: { confirm: "Are you sure?" } do %>
                    <i class="fa-regular fa-trash-can"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="detail mt-5">
      <p><i class="fa-solid fa-bookmark m-0"></i> Reviews </p>
      <div class="new-review">
        <%= link_to "Add your review", new_cocktail_review_path(@cocktail.id), cocktail: @cocktail, review: @review, class: "newreview" %>
      </div>
      <% if @cocktail.reviews.empty? %>
        <p>Be the first to let a review!</p>
      <% else %>
        <div class="reviews">
          <% @cocktail.reviews.each do |review| %>
            <div class="review">
              <span class="badge badge-primary badge-pill">
                <% counter = 0 %>
                <% 5.times do %>
                  <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
                  <% counter += 1 %>
                <% end %>
              </span>
              <div class="review-content">
                <div><%= review.author %> - <%= review.comment %></div>
                <div>
                  <%= link_to review_path(review), method: :delete, class: "review-delete", data: { confirm: "Are you sure?" } do %>
                    <i class="fa-regular fa-trash-can"></i>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="cocktail-show-actions">
      <%# <%= link_to "Save", "#", class: "cocktail-save" %>
      <%= link_to "Share", "#", class: "cocktail-share" %>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
