<div class="top-nav">
  <p><i class="fa-solid fa-angles-left"></i> <%= link_to "Back", :back, class: "back" %></p>
</div>

<div class="dumdum-container">
  <h2>Forgot your password?</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="dumdum-form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email", class: "dumdum-input" } %>
    </div>
    <div class="dumdum-form-actions">
      <%= f.button :submit, "Reset password", class: "dumdum-form-btn" %>
    </div>
  <% end %>
</div>

<%# <%= render "devise/shared/links" %>
