<div class="navbar">
  <% if controller_name == "cocktails" && action_name == "index" %>
    <div class="icon">
      <%= link_to explore_path, method: :get, class: "navbar-link" do %>
        <i class="fa-solid fa-face-smile"></i>
        <p class="text">Explore</p>
      <% end %>
    </div>
  <% elsif controller_name == "cocktails" && action_name == "show" %>
    <div class="icon">
      <%= link_to explore_path, method: :get, class: "navbar-link" do %>
        <i class="fa-solid fa-face-smile-wink" style="color: #B43B3B"></i>
        <p class="text">Explore</p>
      <% end %>
    </div>
  <% elsif controller_name == "cocktails" && action_name == "explore" %>
    <div class="icon">
      <%= link_to root_path, method: :get, class: "navbar-link" do %>
        <i class="fa-solid fa-face-smile-wink" style="color: #B43B3B"></i>
        <p class="text">Home</p>
      <% end %>
    </div>
  <% else %>
    <div class="icon">
      <%= link_to cocktails_path, method: :get, class: "navbar-link" do %>
        <i class="fa-solid fa-face-smile"></i>
        <p class="text">Home</p>
      <% end %>
    </div>
  <% end %>

  <% if controller_name == "cocktails" && action_name == "new" %>
    <div class="icon">
      <%= link_to new_cocktail_path, method: :get, class: "navbar-link" do %>
        <i class="fa-solid fa-martini-glass-citrus" style="color: #B43B3B"></i>
        <p class="text">New Receipe</p>
      <% end %>
    </div>
  <% else %>
    <div class="icon">
      <%= link_to new_cocktail_path, method: :get, class: "navbar-link" do %>
        <i class="fa-solid fa-martini-glass-citrus"></i>
        <p class="text">New Receipe</p>
      <% end %>
    </div>
  <% end %>




  <div class="icon">
    <%= link_to '#', method: :get, class: "navbar-link" do %>
      <i class="fa-solid fa-bookmark"></i>
      <p class="text">My Page</p>
    <% end %>
  </div>

</div>
