<div class="ing-index-container">
  <div class="ing-index-sub">
    <div class="ing-index-common">
      <h3>About Ingredients</h3>
      <div class="ing-index-about">
        <div class="d-flex justify-content-center">
          <div class="ing-index-about-contents">
            <div class="ing-index-about-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path "ingredients.jpeg" %>)">
              <p class="ing-index-about-text">Cocktail<br> Ingredients</p>
            </div>
          </div>
        </div>
      </div>

      <div class="common-ing">
        <p class="common-ing-head"><strong>A common formula<br>
        for making cocktails is<br>
        known as the 2:1:1 ratio</strong>.</p><br>
        <p>It means that many classic cocktails can be created with <strong>two parts alcohol
        plus a sweet ingredient plus a sour ingredient</strong>.</p><br>
        <p>Of course, when you start to create more advanced cocktails
        you notice these contain a larger number of ingredients and the ratio might vary.</p><br>
        <p>For those classic cocktails though,
        the ones that are requested time and time again,
        you can expect to need three essential ingredients,
        with the odd garnish or filler thrown in as a finishing touch.</p>
      </div>
    </div>
  </div>

  <div>
    <div class="ing-index-top10">
      <h3>10 MUST-HAVE Ingredients</h3>
      <div class="top10-ing">
        <ul>
          <li>White Rum</li>
          <li>Vodka</li>
          <li>Whiskey</li>
          <li>Dark Rum</li>
          <li>Syrup</li>
          <li>Limes for juice and garnish</li>
          <li>Oranges for juice and garnishm</li>
          <li>Soda water</li>
          <li>Ice</li>
          <li>Mint</li>
        </ul>
      </div>
    </div>
    <div class="ing-index-top10">
      <h3>All We have - List of Ingredient</h3>
      <div class="new-ingredient">
        <%= link_to "Add Ingredient", ingredient_new_path(@ingredient), cocktail: @cocktail, dose: @dose, class: "new-ingredient" %>
      </div>
      <div class="top10-ing">
        <ul>
          <% @ingredients.each do |ingredient| %>
            <%= link_to ingredient_path(ingredient), class: "ing-info text-decoration-none text-dark", method: :get do %>
              <li><%= ingredient.name %>  <i class="fa-solid fa-square-arrow-up-right"></i></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
