<div class="top-nav">
  <p><i class="fa-solid fa-angles-left"></i> <%= link_to "Back", cocktail_path(@cocktail.id), class: "back" %></p>
</div>

<div class="new-dose">
  <div class="about-dose">
    <p><i class="fa-solid fa-quote-left"></i>
    One of the reasons we learn mixology</p><br>
    <p>is to delight lovely friends and family</p><br>
    <p>with delicious cocktails!</p><br>
    <p>Naturally, this means staying stocked up</p><br>
    <p>on essential cocktail ingredients.
    <i class="fa-solid fa-quote-right"></i></p>
  </div>
  <div class="new-dose-input">
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.association :ingredient, input_html: { class: "beautiful-dropdown" }, include_hidden: false %>
      <%= f.input :description, input_html: { placeholder: "Describe dose for cocktail!", class: "dose-desc" } %>
      <div class="new-ingredient-btn">
        <%= link_to "Do you need a new ingredient? Click here!", new_cocktail_ingredient_path(@cocktail.id), cocktail: @cocktail, ingredient: @ingredient, class: "newing" %>
      </div>
      <div class="dose-btn">
        <%= f.button :submit, "Done", class: "new-dose-btn" %>
      </div>
    <% end %>
  </div>
</div>
