<div class="top-nav">
  <p><i class="fa-solid fa-angles-left"></i> <%= link_to "Back", :back, class: "back" %></p>
</div>

<div class="new-comment">
  <div class="about-review">
    <h3>How's your cocktail?</h3>
  </div>
  <div class="new-review-input">
    <%= simple_form_for [@cocktail, @review] do |f| %>
      <%= f.input :rating, collection: 0..5, input_html: { class: "review-rate" } %>
      <%= f.input :author, input_html: { class: "review-name" } %>
      <%= f.input :comment, input_html: { class: "review-comment" } %>
      <div class="review-btn">
        <%= f.button :submit, "Done", class: "reviewbtn"%>
      </div>
    <% end %>
  </div>
</div>
